@mixin flex-settings($dir, $ai, $jc) {
  display: flex;
  flex-direction: $dir;
  align-items: $ai;
  justify-content: $jc;
}

.app {
  box-sizing: border-box;
}

.wrapper-player {
  @include flex-settings(column, center, none);
  height: 100vh;
}

.wrapper-tracks {
  width: 100%;
}

.wrapper-serch_field {
  margin: 10px auto;
}

.input {
  margin: 10px;
}

.title {
  margin-top: 100px;
}

.wrapper-not_found {
  padding: 20px;
  margin: 5px;
  @include flex-settings(column, center, center);
}

.title-not_found {
  margin: 10px;
  font-size: large;
}

@media (min-width: 600px) {
  .input {
    width: 550px;
  }
  .title {
    margin-top: 200px;
  }
  .wrapper-serch_field {
    margin: 30px auto 10px auto;
  }
  .wrapper-not_found {
    width: 500px;
  }
}
