.app {
  box-sizing: border-box;
}

.wrapper-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* border: 1px solid; */
}

.wrapper-tracks {
  width: 100%;
}

.wrapper-serch_field {
  margin: 10px auto;
}

.input {
  margin: 10px;
}

.title {
  margin-top: 100px;
  /* margin-bottom: 50px; */
}

@media (min-width: 600px) {
  .input {
    width: 550px;
  }
  .title {
    margin-top: 200px;
  }
  .wrapper-serch_field {
    margin: 30px auto 10px auto;
  }
}
